@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-7xl font-bold;
  }

  *:focus-visible {
    @apply outline-none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .background-black-animation {
    background: linear-gradient(-45deg, #171717, #000000, #0f0f0f, #0f0f0f);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
  }

  .youtube-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
    pointer-events: none;
  }

  .youtube-container > iframe {
    width: 300%;
    height: 100%;
    margin-left: -100%;
  }
}
